.root * {
  font-family: "Manrope", sans-serif;
}
.root body {
  margin: 0px;
}
.root h1 {
  font-weight: 600;
  margin: 0px 0px 10px 0px;
  color: hsl(227, 35%, 25%);
}
.root h2 {
  font-weight: 600;
  margin: 0px;
  font-size: 16px;
  color: hsl(225, 20%, 60%);
}
.root h3 {
  color: hsl(225, 20%, 60%);
}
.root h4 {
  font-size: 40px;
  margin: 0px;
}

.root p {
  color: hsl(225, 20%, 60%);
  font-size: 15px;
  margin: 5px 0px 5px 0px;
}
